@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: radial-gradient(297.71% 161.43% at 3.47% 8.73%, #192557 0%, #0B0F32 22.71%, #040013 47.19%, #030730 65.21%, #090C2B 82.41%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Exo', sans-serif;
}

p,
label,
select,
a,
input,
option,
ul,
li,
button,
span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 300;
}

a {
    text-decoration: none !important;
    color: inherit;
}


/* nav bar */
.nav-link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.802px;
    transition: text-decoration-thickness 0.7s ease-in !important;
    text-decoration-color: #15BFFD !important;
}

.nav-link:hover {
    color: #fff;
    text-decoration: underline !important;
    text-decoration-color: #15BFFD !important;
    text-decoration-thickness: 3px !important;
    text-underline-offset: 5px !important;
}

.btn-sign-up {
    color: #2AF6FF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.802px;
    text-decoration-line: underline;
    background-color: transparent;
    border: none;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

.btn-sign-up:hover {
    color: #fff;
}

.btn-sign-in {
    color: #180D5B;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.17px;
    text-transform: uppercase;
    border-radius: 24px;
    background-color: #42E8E0;
    border: none;
    transition: background-color 0.2s ease-in;
}

.btn-sign-in:hover {
    color: #180D5B;
    background-color: #42e8e09f;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}










/* hero section */
.hero-bg {
    background-image: url('../img/elements/bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

.hero-title {
    color: #FFF;
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
}

.hero-desc {
    color: var(--on-surface, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.hero-btn {
    width: 150px;
    height: 40px;
    font-size: 14px !important;
    line-height: 20px !important;
    border-radius: 47px;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    border: 2px solid #15BFFD;
    transition: background-color 0.5s ease-in, color 0.5s ease-in, border 0.5s ease-in;
}

.hero-signin {
    color: #180D5B;
    background: #15BFFD;
    border: 2px solid #15BFFD;
}

.hero-signup {
    background: transparent;
    color: #15BFFD;
}

.hero-signin:hover {
    color: #fff;
    background: #15bffd93;
}

.hero-signup:hover {
    color: #fff;
    background: #15bffd93;
}

.zindex-front {
    width: 75%;
    position: relative;
    z-index: 9;
}

.escrow-bg-text {
    z-index: 1;
}

.escrow-bg-text img {
    width: 65%;
    margin-top: -20%;
}

@media screen and (max-width: 992px) {
    .escrow-bg-text img {
        width: 65%;
        margin-top: -35%;
    }

    .hero-bg {
        min-height: 60vh;
    }
}

@media screen and (max-width: 600px) {
    .hero-bg {
        min-height: 80vh;
    }

    .zindex-front {
        width: 100%;
    }

    .hero-title {
        font-size: 2em;
    }

    .escrow-bg-text img {
        width: 85%;
        margin-top: -90%;
    }
}





/* market */
.market-summery h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
}

.line-1 {
    width: 80%;
    height: 2px;
    background: linear-gradient(270deg, rgba(21, 191, 253, 0.00) 0%, #15BFFD 24.52%, #15BFFD 50.74%, #15BFFD 83.89%, rgba(21, 191, 253, 0.00) 100%);
}

.v-line-1 {
    width: 2px;
    height: 150px;
    background-image: url('../img/elements/Line 10.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coin-box {
    width: 100px;
    height: 100px;
}

.owl-carousel p {
    color: #FFF;
    font-family: Exo;
    font-size: 19.79px;
    font-style: normal;
    font-weight: 600;
    line-height: 24.737px;
}

.red-batch {
    color: #E20000;
}

.blue-batch {
    color: #00E2D7;
}

.owl-carousel span {
    font-family: Exo;
    font-size: 19.79px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.737px;
}
.corowsel-container{
    width: 90%;
}
.market-summery a {
    color: #FFF;
    font-size: 22px !important;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Exo', sans-serif !important;
}
@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {
    .v-line-1{
        display: none;
    }
    .corowsel-container{
        width: 100%;
    }
}